@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color : #3B71CA;
  --secondary-color : #9FA6B2;
  --success-color : #14A44D;
  --danger-color : #DC4C64;
  --warning-color : #E4A11B;
  --Info-color : #54B4D3;
  --light-color : #FBFBFB;
  --dark-color : #332D2D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--dark-color);
}


.container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  margin: 40px;
  color: #fff;
}

.container i, .container h2, .container small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container i {
  font-size: 4rem;
  margin-bottom: 15px;
}

.container h2 {
  font-size: 3rem;
}

@media (max-width :600px) {
  .container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}