@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --primary-color : #3B71CA;
  --secondary-color : #9FA6B2;
  --success-color : #14A44D;
  --danger-color : #DC4C64;
  --warning-color : #E4A11B;
  --Info-color : #54B4D3;
  --light-color : #FBFBFB;
  --dark-color : #332D2D;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0 ; */
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #FBFBFB;
  height: 100vh;
  margin: 0;
  background-color: var(--Info-color);
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-weight: bolder;
  font-size: 1rem;
}

/* BIG BOTTLE */

.big-bottle{
  height: 500px;
  width: 80%;
  border: 3px solid #3B71CA;
  border-radius: 0 0 10px 10px;
  position: relative;
  border-top: none;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.big-bottle .remained {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--Info-color);
  background-color:  var(--light-color);
  font-size: 2rem;
  font-weight: bolder;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s linear;

} 



.big-bottle .remained small {
  display: block;
  font-size: 0.8rem;
}


.big-bottle .filled {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--Info-color);
  background-color:  var(--primary-color);
  font-size: 2rem;
  font-weight: bolder;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s linear;
}

.big-bottle .filled div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MINI BOTTLES */

.mini-bottles{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 2;
  width: inherit;
}

.mini-bottle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px ;
  width: 100px;
  border: 3px solid #3B71CA;
  margin: 10px 10px;
  border-radius: 0 0 20px 20px ;
  transition: transform 1s linear;
  border-top: none;

}

.mini-bottle:hover{
  transform: rotate(60deg);
  transition: transform 1s linear;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.fill {
  background-color: var(--primary-color);
}


@media (max-width : 580px) {
  .mini-bottles{
    grid-template-columns: repeat(3,1fr);
    
  }

  p {
    text-align: center;
  }

}