@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color : #3B71CA;
  --secondary-color : #9FA6B2;
  --success-color : #14A44D;
  --danger-color : #DC4C64;
  --warning-color : #E4A11B;
  --Info-color : #54B4D3;
  --light-color : #FBFBFB;
  --dark-color : #332D2D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #fff;
  background-color: white;
  transition: 1s linear;
}

.container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .clock {
  position: relative;
  width: 50%;
  height: 60%;
  margin: 10px 10px;
}

.hour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-100%);
  width: 1px;
  height: 15%;
  border: 1px solid #E4A11B;
  transform-origin: top;
  transition:  0.5s ease-in;

}

.minute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-100%);
  width: 1px;
  height: 20%;
  border: 1px solid black;
  transform-origin: top;
  transition:  0.5s ease-in;
}

.second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-100%);
  width: 1px;
  height: 30%;
  border: 1px solid red;
  transform-origin: top;
  /* transition:  0.5s ease-in; */
}

.digital {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translateX(-50%);
  margin-top: 20px;
  font-size: xx-large;
  white-space: nowrap;
  color: black;
}


.date {
  color: black;
}

/* BUTTON */

button {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px 3px  rgba(0, 0, 0, 0.7);
  font-size: large;
  cursor: pointer;
}