@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color : #3B71CA;
  --secondary-color : #9FA6B2;
  --success-color : #14A44D;
  --danger-color : #DC4C64;
  --warning-color : #E4A11B;
  --Info-color : #54B4D3;
  --light-color : #FBFBFB;
  --dark-color : #332D2D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FBFBFB;
  background-image: linear-gradient(to bottom, #FBFBFB 0%, #FBFBFB 50%, #54B4D3 50%, #54B4D3 100%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}



nav {
  display: flex;
  align-items: center;
  color: #FBFBFB;
  
}

nav ul {
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  height: 50px;
  width: 100%;
  transition: 1s linear;

}

li {
  list-style-type: none;
  margin: 10px 20px;
  cursor: pointer;
  transform: rotateY(-360deg);
  transition: 1s ease-in-out;
}

/* CLOSE */

nav ul.close {
  width: 0px;
  opacity: 0;
}

.close li {
  transform: rotateY(360deg);
  transition: 1s ease-in-out;
}


/* BUTTON */
.lines {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20px;
  height: 30px;
  background-color: var(--dark-color);
  height: 50px;
  padding: 20px;
  cursor: pointer;

}

.lines .top-line {
  height: 2px;
  width: 20px;
  border: 2px solid #FBFBFB; 
  transform: rotate(0deg);
  transform-origin: top left;
  transition: 1s linear;
}

.lines .bottom-line {
  height: 2px;
  width: 20px;
  border: 2px solid  #FBFBFB;
  margin-top: 10px;transform: rotate(0deg);
  transform-origin: bottom left;
  transition: 1s linear;
}

/* ACTİVE BUTTONS */
.active .top-line {
  transform: rotate(765deg);
  transition: 1s linear;
}

.active .bottom-line {
  transform: rotate(-765deg);
  transition: 1s linear;
}