@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #333;
}


button {
  position: relative;
  width: 120px;
  height: 50px;
  background-color: #DC4C64;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  padding: 20px 30px;
  margin: 10px 0;
  white-space: nowrap;
}

button:focus {
  outline: none;
}

.circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}


@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}